**Clustering**

clustering (unsupervised Learning) adalah mengelompokkan pelanggan berdasarkan data pelanggan di dealer tanpa memperhatikan label kelas apakah pelanggan tertarik untuk membeli kendaraan baru atau tidak.

In [43]:
# Import Library

import pandas as pd
import numpy as np

# Pengenalan Dataset

- SIM	--> 0 : Tidak punya SIM 1 : Punya SIM
- Kode_Daerah --> Kode area tempat tinggal pelanggan
- Sudah_Asuransi --> 1 : Pelanggan sudah memiliki asuransi kendaraan, 0 : Pelanggan belum memiliki asuransi kendaraan
- Umur_Kendaraan --> Umur kendaraan
- Kendaraan_Rusak --> 1 : Kendaraan pernah rusak sebelumnya. 0 : Kendaraan belum pernah rusak.
- Premi --> Jumlah premi yang harus dibayarkan per tahun.
- Kanal_Penjualan --> Kode kanal untuk menghubungi pelanggan (email, telpon, dll)
- Lama_Berlangganan	--> Sudah berapa lama pelanggan menjadi klien perusahaan
- Tertarik --> 1 : Pelanggan tertarik, 0 : Pelanggan tidak tertarik

Clustring tidak membutuhkan kolom 'Tertarik'

In [44]:
# Membaca file .csv

df = pd.read_csv("kendaraan_train.csv")
df.drop(["Tertarik"], axis=1,  inplace=True) #Clustering tidak membutuhkan kolom 'Tertarik'

print("Data read into pandas dataframe!")

Data read into pandas dataframe!

# Explore Datasets <a id="0"></a>

In [45]:
# Melihat 5 data teratas dari dataset

df.head()

,id,Jenis_Kelamin,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Umur_Kendaraan,Kendaraan_Rusak,Premi,Kanal_Penjualan,Lama_Berlangganan
0,1,Wanita,30.0,1.0,33.0,1.0,< 1 Tahun,Tidak,28029.0,152.0,97.0
1,2,Pria,48.0,1.0,39.0,0.0,> 2 Tahun,Pernah,25800.0,29.0,158.0
2,3,NaN,21.0,1.0,46.0,1.0,< 1 Tahun,Tidak,32733.0,160.0,119.0
3,4,Wanita,58.0,1.0,48.0,0.0,1-2 Tahun,Tidak,2630.0,124.0,63.0
4,5,Pria,50.0,1.0,35.0,0.0,> 2 Tahun,NaN,34857.0,88.0,194.0

In [46]:
# Melihat 5 data terbawah dari dataset

df.tail()

,id,Jenis_Kelamin,Umur,SIM,Kode_Daerah,Sudah_Asuransi,Umur_Kendaraan,Kendaraan_Rusak,Premi,Kanal_Penjualan,Lama_Berlangganan
285826,285827,Wanita,23.0,1.0,4.0,1.0,< 1 Tahun,Tidak,25988.0,152.0,217.0
285827,285828,Wanita,21.0,1.0,46.0,1.0,< 1 Tahun,Tidak,44686.0,152.0,50.0
285828,285829,Wanita,23.0,1.0,50.0,1.0,< 1 Tahun,Tidak,49751.0,152.0,226.0
285829,285830,Pria,68.0,1.0,7.0,1.0,1-2 Tahun,Tidak,30503.0,124.0,270.0
285830,285831,Pria,45.0,1.0,28.0,0.0,1-2 Tahun,Pernah,36480.0,26.0,44.0

In [47]:
# Melihat ukuran dataset

df.shape

(285831, 11)

In [67]:
# Melihat jenis data dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285831 entries, 0 to 285830
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 285831 non-null  int64
 1   Jenis_Kelamin      285831 non-null  object
 2   Umur               285831 non-null  float64
 3   SIM                285831 non-null  float64
 4   Kode_Daerah        285831 non-null  float64
 5   Sudah_Asuransi     285831 non-null  float64
 6   Umur_Kendaraan     285831 non-null  object
 7   Kendaraan_Rusak    285831 non-null  object
 8   Premi              285831 non-null  float64
 9   Kanal_Penjualan    285831 non-null  float64
 10  Lama_Berlangganan  285831 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 24.0+ MB

In [62]:
# df["Jenis_Kelamin"].value_counts()
# df["SIM"].value_counts()

In [6]:
# Pengecekan data kosong

df.isnull().sum()

id                       0
Jenis_Kelamin        14440
Umur                 14214
SIM                  14404
Kode_Daerah          14306
Sudah_Asuransi       14229
Umur_Kendaraan       14275
Kendaraan_Rusak      14188
Premi                14569
Kanal_Penjualan      14299
Lama_Berlangganan    13992
Tertarik                 0
dtype: int64

In [66]:
# Mengatasi data kosong dengan metode 'ffill'

'''
ffill singkatan dari 'forward fill' dan akan melakukan replace 
dari data valid terakhir ke depan

'''

df["Jenis_Kelamin"].fillna(method='ffill', inplace=True)
df["Umur"].fillna(method='ffill', inplace=True)
df["SIM"].fillna(method='ffill', inplace=True)
df["Kode_Daerah"].fillna(method='ffill', inplace=True)
df["Sudah_Asuransi"].fillna(method='ffill', inplace=True)
df["Umur_Kendaraan"].fillna(method='ffill', inplace=True)
df["Kendaraan_Rusak"].fillna(method='ffill', inplace=True)
df["Premi"].fillna(method='ffill', inplace=True)
df["Kanal_Penjualan"].fillna(method='ffill', inplace=True)
df["Lama_Berlangganan"].fillna(method='ffill', inplace=True)

In [60]:
# Melakukan cek kembali data kosong

df.isnull().sum()

id                   0
Jenis_Kelamin        0
Umur                 0
SIM                  0
Kode_Daerah          0
Sudah_Asuransi       0
Umur_Kendaraan       0
Kendaraan_Rusak      0
Premi                0
Kanal_Penjualan      0
Lama_Berlangganan    0
dtype: int64